{
  "extends": "webpack",
  "rules": {
    "prefer-destructuring": 1,
    "prefer-rest-params": 0,
    "class-methods-use-this": 1,
    "no-plusplus": 1,
    "consistent-return": 0,
    "no-param-reassign": 0
  }
}
